.counter-card {
    background-color: #363636;
    color: #ffffff;
    font-size: 45px;
    height: 70px;
    padding: 8px 16px;
    margin: 4px;
    border-radius: 4px;
    border: 1px #ffffff1d solid;
    display: flex;
    align-items: center;
}